.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
  overflow: hidden;
  &__header {
    width: 445px;
    height: 166px;
    &-slogan {
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      color: $red;
    }
    &-descr {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      margin-top: 20px;
      color: #464646;
    }
  }
  &__cards-wrapper {
    display: flex;
    column-gap: 30px;
    margin-top: 36px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 20px 50px rgba(103, 103, 103, 0.05);
    border-radius: 20px;
    height: 308px;
    width: 445px;
    &_raiting {
      display: flex;
      justify-content: center;
      column-gap: 10px;
      margin-top: 50px;
    }
    &_descr {
      width: 385px;
      margin: 35px 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #464646;
    }
    &_reviewer {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #282828;
      margin-left: 30px;
      margin-top: 3px;
    }
    &_position-held {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin-left: 30px;
      margin-top: 6px;
      color: #464646;
    }
  }
}
