.main {
  margin-top: 46px;
  &__wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    margin-top: 85px;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: -2.5px;
    color: $red;
  }
  &__subtitle {
    margin-top: 22px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: $dark;
  }
  &__search {
    display: flex;
    position: relative;
    margin-top: 29px;
    &-input {
      width: 412px;
      height: 60px;
      background: #ffffff;
      border: 1px solid #cecece;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 25px;
      &::placeholder {
        font-weight: 400;
        text-align: center;
        line-height: 16px;
        color: #464646;
      }
    }
    &-button {
      position: absolute;
      right: -234px;
      width: 224px;
      height: 60px;
      padding: 22px 43px;
      border-radius: 5px;
      background-color: $red;
      line-height: 16px;
      border: none;
      .img {
        position: absolute;
        left: 42px;
        top: 22px;
      }
      .text {
        color: #ffffff;
        font-weight: 700;
        padding-left: 16px;
      }
      &:hover {
        background-color: #f42323;
      }
    }
  }
  &__descr {
    margin-top: 46px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.94px;
    color: #464646;
  }
}
